.baloon-target {
    position: relative;
    display: inline-block;
}
.baloon {
    display: none;
    text-shadow: 0 0 0 #ff5d5d; /* 文字色に影響がある */
}

.baloon-target:hover .baloon {
    display: inline-block;
    z-index: 1;
    position: absolute;
    width: 150px;
    text-align: center;
    font-size: 0.8em;
    padding: 2px;
    background-color: rgb(45, 43, 43);
    color: rgb(255, 255, 0);
    top: 25px;
    left: -60px;
    border-radius: 3px;
}
