@font-face {
    font-family: "EdensorFreeFont";
    src: url(../fonts/Edensor-Free.otf);
}

$modal_opacity: 0.92;
@keyframes modalOpen {
    from {opacity: 0}
    to {opacity: $modal_opacity}
}

@keyframes modalClose {
    from {opacity: $modal_opacity}
    to {opacity: 0}
}

.modal-open {
    animation-name: modalOpen;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.modal-close {
    animation-name: modalClose;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    opacity: $modal_opacity;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    height: 100px;
    width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

.modal-header h1 {
    margin: 1rem 0;
}

.modal-header {
    background: lightblue;
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
}

.modalClose {
    font-size: 2rem;
}

.modalClose:hover {
    cursor: pointer;
}

.modal-body {
    font-family: EdensorFreeFont;
    font-size: 48px;
    letter-spacing: 0.1em;
    padding: 10px 20px;
    color: rgb(255, 232, 61);
    background-color: #121111;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
