.convert-btn {
    color: #fff;
    background-color: #616160;
    border-radius: 100vh;
    border: none;
    outline: none;
    cursor: pointer;
}

.convert-btn:hover {
    color: #fff;
    background-color: #353535;
}