.convert-content {
    width: 100%;
    display: -webkit-flex;
    display: inline-flex;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    height: 200px;

    &__before {
        background: #aaaaaa6b;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 6px;
        width: 30vw;
    }
    &__btn-area {
        // width: 10vw;
        padding: 2px;
    }
    &__after {
        // background: #aaaaaa6b;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 6px;
        width: 30vw;
    }
    &__textarea-cert {
        resize: none;
        width: 100%;
    }
    &__textarea-carray {
        resize: none;
        width: 100%;
    }
}